@using Hostele.ViewModels
@using Microsoft.CodeAnalysis.Differencing
@using Hostele.Utility
@using Microsoft.AspNetCore.Identity
@model Hostele.ViewModels.RecipeDetailsViewModel

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "RecipeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 0;
}

<div class="receipe-content-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                    <img src="@Url.Content(Model?.RecipeImage)" class="img-fluid mx-auto d-block" alt="">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span>@Html.DisplayFor(modelItem => modelItem.CreatedDate)</span>
                    <h2>@Html.DisplayFor(modelItem => modelItem.RecipeName)</h2>
                    <div class="receipe-duration">
                        <h6>Czas: @Html.DisplayFor(modelItem => modelItem.PrepTime) min </h6>
                        <h6>Trudność: @Html.DisplayFor(modelItem => modelItem.Difficulty)</h6>
                        <h6>Kategoria: @Html.DisplayFor(modelItem => modelItem.Category!.CategoryName)</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                          @for (var i = 1; i <= @Model.AverageRating; i++)
                          {
                              <span class="starGlowN"></span>
                          }
                          @for (var i = (@Model.AverageRating + 1); i <= 5; i++)
                          {
                              <span class="starFadeN"></span>
                          }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                @foreach (var item in Model?.Steps!)
                {
                    <div class="single-preparation-step d-flex">
                        <h4> @(++index) .</h4>
                        <p>@Html.DisplayFor(modelItem => item.Description). </p>
                    </div>
                }

            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>
                    @foreach (var item in Model?.Ingrds!)
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"> (@Html.DisplayFor(modelItem => item.Amount) @Html.DisplayFor(modelItem => item.Measure) ) @Html.DisplayFor(modelItem => item.IngredientName)</label>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-left">
                    <h3>Dodaj Komentarz</h3>
                </div>
            </div>
        </div>
        <div class="d-flex row pb-4 pt-3 ">
            <div class="d-flex flex-column col-md-8">
                <div class="coment-bottom bg-white p-2 px-4">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-action="AddComment">
                            @{
                                @(await Html.PartialAsync("~/Views/Shared/_Comment.cshtml", new CommentViewModel() {RecipeId = Model.Id}))

                            }
                        </form>
                    }
                    else
                    {
                        
                            <a class="link-success" id="login" asp-area="Identity" asp-page="/Account/Login">Zaloguj się aby dodać komentarz</a>
                        
                    }
                    <div class="commented-section mt-2 pb-2">
                        @foreach (var item in Model.Comments)
                        {
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5 class="">@item.UserName</h5><span class="dot"></span><span class="commentDate">@Model.CreatedDate</span>
                                @for (var i = 1; i <= item.Rating; i++)
                                {
                                    <span class="starGlowN"></span>
                                }
                                @for (var i = (item.Rating + 1); i <= 5; i++)
                                {
                                    <span class="starFadeN"></span>
                                }
                            </div>
                            <div class="comment-text-sm pb-4">
                                @Html.DisplayFor(modelItem => item.Content)

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit<> /a> |*@
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
    function SubmitComment() {
       
        if ($("#Rating").val() == "0") {
           Swal.fire({
             icon: 'error',
             title: 'Oops...',
             text: 'Oceń przepis w skali 1-5!'
            
           })
            return false;
        }
        else {
            return true;
        }
    }
    
    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
      
</script>
}